body {
    background-color: rgb(185, 185, 236);
}


.hedadmenu {
    background-color: rgb(10, 10, 128);
    color: rgb(11, 19, 26);
}
a:hover {
  color: red;
}
a {
    color: aliceblue;
}
h2 {
    color: rgb(8, 8, 88);
    font-family: Arial, Helvetica, sans-serif;
    
}
h3 {
    color: rgb(8, 8, 88);
    font-family: Arial, Helvetica, sans-serif;
    
}
.my-image {
    width: 40px;
}
p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.Galereja > img {
    width: 300px;
}
.small {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  td {
    background-color: #f4f4f4;
  }
   th {
    background-color: #799bf7;
  }
  div {
    width: 70%;
    background-color: rgb(218, 199, 236);
    margin: 18px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -5px rgba(122, 95, 241, 0.3);

  }
  .Galereja > img {
    margin: 18px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -5px rgba(122, 95, 241, 0.3);

  }
  .blu {
    color: rgb(4, 36, 65);
  }
  input:hover {
    border: 2px solid red;
  }
  select:hover {
    border: 2px solid red;
  }
